*{
    margin: 0%; padding: 0%; font-family: Georgia, 'Times New Roman', Times, serif ;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    background: black;
    padding-top: 0%;
}

.follow{
background-color: #f9004d;
color: white;
text-decoration: none;
padding: 7px 25px;
border-radius: 45px;
transition: 0.5s;
}

.follow:hover{
transform: scale(1.1);
}

nav ul li{
    display: inline-block;
    padding: 50px 32px;
}

nav ul li a{
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    transition: 0.5s;
}

nav ul li a:hover{
color: red;
}

/*home*/

.logo{
    color: wheat;
    font-size: 33px;
}

span{
    color: #f9004d;
}

.content{
    margin-left: 8%;
    margin-top: 7%;
}

.content .img img{
    width: 450px;
}

.content .text{
    width: 100%;
    line-height: 60px;
    color: wheat;
}

.content .text h4{
    font-size: 20px;
    letter-spacing: 2px;
}

.content .text h1{
    font-size: 65px;
    letter-spacing: 2px;
    transition: 0.5s;
}

.content .text h1:hover{
    color: #f9004d;
}

.content .text span:hover{
    color: wheat;
    
}

.content .text h3{
    font-size: 19px;
    letter-spacing: 2px;
}

.content .img{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    right: 50px;
    transition: 1s;
}

.content .img:hover{
    transform: scale(1.1);
}

.face-logo{
    width: 45px;
    padding-top: 15px;
}

.whts-logo{
    width: 45px;
    padding-top: 15px;
}

.insta-logo{
    width: 45px;
    padding-top: 15px;
}

/*About me*/

.about-me{
    width: 100%;
    height: 100vh;              
    background-color: black;
    padding-top: 120px;
}

.about-me h2{
    color: wheat;
    padding-left: 560px;
    font-size: 35px;
}

.about-me .text{
    color: white;
    font-size: 22px;
    padding: 60px 60px;
    letter-spacing: 1px;
}

/*skills*/

.myskills{
    width: 100%;
    background-color: black;
    padding-top: 85px;
}

.myskills h2{
    color: wheat;
    padding-left: 550px;
    font-size: 35px;
    background-color: black;
}

.skills{
    color: wheat;
    padding-left: 200px;
    font-size: 35px;
    background-color: black;
    height: 90vh;
}

.skill-bar{
    height: 15px;
    width: 80%;
    background: #282828;
    border-radius: 3px;
}

.skill-per{
    height: 15px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillbars 10s ;
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #c43232;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background: #f1f1f1;
    top: -12px;
    right: 0;
    border-radius: 2px;
}

@keyframes fillbars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/*my work*/

.work{
    color: white;
    background: black;
    text-align: center;
    height: 130vh;
}

.mywork{
    color: wheat;
    font-size: 25px;
    padding-top: 18px;
}

.work img{
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 20px;
}

.work p{
    padding-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
}

/*my contact*/

.contact h2{
    color: rgb(212, 155, 49);
    padding-left: 500px;
    font-size: 35px;
    background-color: black;
}

.contact{
    background: black;
    padding-left: 80px;
    padding-top: 10px;
}

.contact .contact-right{
    float: right;
    padding-right: 12%;
}

.contact .QR p{
    padding-left: 11px;
}

.contact .QR img{
    width: 120px;
}

.contact .contact-left{
    float: left;
    color: white;
    font-size: 20px;
    padding-left: 15%;
}

form input, form textarea{
    width: 400px;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    margin: 18px;
    border-radius: 6px;
    resize: none;
    transition: 0.5s;
}

form input:hover, form textarea:hover{
    transform: scale(1.1);
}

form input[type=text]{
    color: #f34d82;
    font-size: 15px;
}

form input[type=Email]{
    color: #f34d82;
    font-size: 15px;
}

form textarea{
    color: #f34d82;
}

form button{
    background-color: #f9004d;
    width: 400px; 
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 45px;
    transition: 0.5s;
}

form button:hover{
    transform: scale(1.1);
}

/*footer*/

.footer{
    background: #272727;
    text-align: center;
    padding-top: 30px;
}

footer li{
list-style: none;
display: inline-block;
margin: 10px;
}

.footer-menu a{
    color: white;
}

.footer-menu a:hover{
    color: #f9004d;
}

.footer-copyright{
    background: #f9004d;
    color: #fff;
    padding: 15px;
    margin-top: 30px;
}
